<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="g2sc_info" xsi:type="object">Ho\GuestToShadowCustomer\Console\Command\ModuleState</item>
                <item name="g2sc_from_order_id" xsi:type="object">Ho\GuestToShadowCustomer\Console\Command\CreateCustomer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\EmailNotificationInterface">
        <plugin name="g2sc_disable_mail_send"
                type="Ho\GuestToShadowCustomer\Plugin\Model\AccountManagement"
                sortOrder="1" />
    </type>
    <type name="\Magento\Sales\Api\OrderCustomerManagementInterface">
        <plugin name="g2sc_add_parameter"
                type="Ho\GuestToShadowCustomer\Plugin\Api\OrderCustomerManagementInterface"
                sortOrder="1" />
    </type>
</config>