<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ReachDigital\GuestToShadowCustomer\Api\ConvertGuestOrderToShadowCustomerInterface"
                type="ReachDigital\GuestToShadowCustomer\Model\ConvertGuestOrderToShadowCustomer"/>
    <preference for="ReachDigital\GuestToShadowCustomer\Api\ConvertGuestQuoteToShadowCustomerInterface"
                type="ReachDigital\GuestToShadowCustomer\Model\ConvertGuestQuoteToShadowCustomer"/>
    <preference for="ReachDigital\GuestToShadowCustomer\Api\GuestOrderRepositoryInterface"
                type="ReachDigital\GuestToShadowCustomer\Model\GuestOrderRepository"/>
    <preference for="Magento\Sales\Api\Data\OrderInterface" type="Magento\Sales\Model\Order"/>
    <preference for="Magento\Quote\Model\QuoteRepository\Plugin\AccessChangeQuoteControl"
                type="ReachDigital\GuestToShadowCustomer\Model\QuoteRepositoryPluginAccessChangeQuoteControl"/>

    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin sortOrder="1" name="ReachDigitalConvertGuestQuoteToCustomerBeforeSubmitPlugin"
                type="ReachDigital\GuestToShadowCustomer\Plugin\ConvertGuestQuoteToShadowCustomerBeforeSubmitPlugin" />
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin sortOrder="1" name="reachDigitalGuestToShadowCustomerAccountManagementInterface"
                type="ReachDigital\GuestToShadowCustomer\Plugin\AccountManagementInterfaceApiAroundPlugin"/>
    </type>
    <type name="Magento\Framework\Encryption\Encryptor">
        <plugin sortOrder="1" name="reachDigitalGuestToShadowCustomerEncryptor"
                type="ReachDigital\GuestToShadowCustomer\Plugin\EncryptorIgnoreEmptyHash"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="reachDigitalGuestToShadowCustomerDefaultConfigProvider"
                type="ReachDigital\GuestToShadowCustomer\Plugin\CheckoutDefaultConfigProviderPlugin"/>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="reachDigitalGuestToShadowCustomerAccountManagement"
                type="ReachDigital\GuestToShadowCustomer\Plugin\AccountManagementPlugin"/>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid"
                     type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="joins" xsi:type="array">
                <item name="customer_data" xsi:type="array">
                    <item name="table" xsi:type="string">customer_entity</item>
                    <item name="origin_column" xsi:type="string">customer_id</item>
                    <item name="target_column" xsi:type="string">entity_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="is_shadow" xsi:type="string">customer_data.is_shadow</item>
            </argument>
        </arguments>
    </virtualType>
</config>